@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background-color: rgb(15, 23, 42);
  color: #5b017c;
  font-family: Montserrat, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Fredoka One', cursive;
  letter-spacing: 0.05em;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
